*{
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: #444;
}

h1{
  margin: auto;
  color: #09f;
  text-align: center;
}

h2{
  margin: auto;
  color: orangered;
  text-align: center;
}

details {
  background: #333;
  border-radius: 5px;
  margin: auto;
  margin-block: 15px;
  padding-block: 5px;
}

summary {
  padding: 5px 10px;
  font-weight: bold;
  background-color: #666;
  margin: 0 5px;
  cursor: pointer;
  color: #ee8002;
  border-radius: 5px;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}


ul{
  list-style-type: none;
  margin: auto;
  text-align: left;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

a {
  margin: auto;
  color: orangered;
  padding: 5px;
  text-decoration: none;
}

/* @media screen and (min-width: 768px) {
  h1{
    color: blue;
  }
  .details {
      width: 50%;
  }
  summary {
    font-size: 20px
  }
}

@media (min-width: 1200px) {
  .details {
    width: 50%;
  }

  summary {
    font-size: 20px
  }
} */