<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/d1.css">
    <title>Details siderbar</title>
</head>
<body>
    <header>
        <h1>Grid Layout + details & summary + scroll-behavior</h1>
    </header>
    
    <details class='sumario'>
     <summary>Tabla de Contenidos</summary>
      <nav>
        <ol>
          <li><a href="#La_hoja_de_estilos">La hoja de estilos</a></li>
          <li><a href="#La_regla_Css">La regla Css</a></li>
          <li><a href="#Selector_de_Css">Selector de Css</a></li>
          <li><a href="#Declaraci.C3.B3n_Css">Declaración Css</a></li>
          <li><a href="#Propiedad_Css">Propiedad Css</a></li>
          <li>
            <details>
             <summary>Valor de la Propiedad Css</summary>
              <ol>
                <li><a href="#Valor_de_la_Propiedad_Css">Value</a></li>
                <li><a href="#Medidas">Medidas</a></li>
                <li><a href="#Palabra_Clave">Palabra Clave</a></li>
                <li><a href="#Anotaci.C3.B3n_funcional">Anotación funcional</a></li>
                <li><a href="#Cadena_de_texto">Cadena de texto</a></li>
              </ol>
              </details>
          </li>
          <li><a href="#Comentarios">Comentarios</a></li>
          <li>
            <details>
              <summary>Reglas @ y props shorthand</summary>
              <ol>
                <li><a href="#Regla_de_reglas_y_Propiedad_de_propiedades">Regla de reglas y Propiedad de propiedades</a></li>
                <li><a href="#Reglas_.40_.28at_rules.29">Reglas @ (at rules)</a></li>
                <li><a href="#Propiedad_de_propiedades">Propiedad de propiedades</a></li>
              </ol>
            </details>
          </li>
          <li>
            <details>
              <summary>Errores</summary>
              <ol>
                <li><a href="#Errores_y_sus_consecuencias">Errores y sus consecuencias</a></li>
                <li><a href="#Error_en_el_selector">Error en el selector</a></li>
                <li><a href="#Error_en_la_sintaxis_del_comentario_Css">Error en la sintaxis del comentario Css</a></li>
                <li>    
              <details>
                <summary>Omisiones</summary>
                    <ol>
                      <li><a href="#Omisi.C3.B3n_de_ciertos_caracteres">Omisión de ciertos caracteres</a></li>
                      <li><a href="#Par.C3.A9ntesis_y_corchetes_rectos">Paréntesis y corchetes rectos</a></li>
                      <li><a href="#Comillas">Comillas</a></li>
                    </ol>
                 </details>
                </li>
              </ol>
            </details>
          </li>
          <li><a href="#Cajas_y_modelos_de_cajas">Cajas y modelos de cajas</a></li>
          <li><a href="#Cascada.2C_especificidad_y_herencia">Cascada, especificidad y herencia</a></li>
          <li><a href="#.C2.BFcapas_CSS.3F">¿Capas CSS?</a></li>
          <li><a href="#.C2.BFatributos_Css.3F">¿Atributos Css?</a></li>
          <li><a href="#Enlaces_Externos">Enlaces Externos</a></li>
        </ol>
      </nav>
    </details>
    
    <article>
     <h2 id="La_hoja_de_estilos">La hoja de estilos</h2>
    <p>En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, consumían las tres partes de su hacienda.</p>
    <h2 id="La_regla_Css">La regla Css</h2>
    <p>El resto della concluían sayo de velarte, calzas de velludo para las fiestas, con sus pantuflos de lo mesmo, y los días de entresemana se honraba con su vellorí de lo más fino. Tenía en su casa una ama que pasaba de los cuarenta, y una sobrina que no llegaba a los veinte, y un mozo de campo y plaza, que así ensillaba el rocín como tomaba la podadera. Frisaba la edad de nuestro hidalgo con los cincuenta años; era de complexión recia, seco de carnes, enjuto de rostro, gran madrugador y amigo de la caza.</p>
    <h2 id="Selector_de_Css">Selector de Css</h2>
    <p>Quieren decir que tenía el sobrenombre de Quijada, o Quesada, que en esto hay alguna diferencia en los autores que deste caso escriben; aunque, por conjeturas verosímiles, se deja entender que se llamaba Quejana. Pero esto importa poco a nuestro cuento; basta que en la narración dél no se salga un punto de la verdad.</p>
    <p>Ver el artículo <a href="https://escss.blogspot.com.es/2014/12/selectores-css-guia-a-fondo.html" title="Selectores CSS">El selector CSS</a> para una explicación detallada sobre ellos.</p>
    
    <h2 id="Declaraci.C3.B3n_Css">Declaración Css</h2>
    <p>Es, pues, de saber que este sobredicho hidalgo, los ratos que estaba ocioso, que eran los más del año, se daba a leer libros de caballerías, con tanta afición y gusto, que olvidó casi de todo punto el ejercicio de la caza, y aun la administración de su hacienda. Y llegó a tanto su curiosidad y desatino en esto, que vendió muchas hanegas de tierra de sembradura para comprar libros de caballerías en que leer, y así, llevó a su casa todos cuantos pudo haber dellos;</p>
    <p>y de todos, ningunos le parecían tan bien como los que compuso el famoso Feliciano de Silva, porque la claridad de su prosa y aquellas entricadas razones suyas le parecían de perlas, y más cuando llegaba a leer aquellos requiebros y cartas de desafíos, donde en muchas partes hallaba escrito: </p>
    
    <h2 id="Propiedad_Css">Propiedad Css</h2>
    <p> La razón de la sinrazón que a mi razón se hace, de tal manera mi razón enflaquece, que con razón me quejo de la vuestra fermosura. Y también cuando leía: ...los altos cielos que de vuestra divinidad divinamente con las estrellas os fortifican, y os hacen merecedora del merecimiento que merece la vuestra grandeza.<br/>
    Con estas razones perdía el pobre caballero el juicio, y desvelábase por entenderlas y desentrañarles el sentido, que no se lo sacara ni las entendiera el mesmo Aristóteles, si resucitara para sólo ello.</p>
    
    <h2 id="Valor_de_la_Propiedad_Css">Valor de la Propiedad Css</h2>
    <h3>Valor</h3>
    <p>No estaba muy bien con las heridas que don Belianís daba y recebía, porque se imaginaba que, por grandes maestros que le hubiesen curado, no dejaría de tener el rostro y todo el cuerpo lleno de cicatrices y señales. Pero, con todo, alababa en su autor aquel acabar su libro con la promesa de aquella inacabable aventura, y muchas veces le vino deseo de tomar la pluma y dalle fin al pie de la letra, como allí se promete; <a href="http://dev.w3.org/csswg/css3-values/">"Valores y unidades Css"</a></p>
    
    <h3 id="Medidas">Medidas</h3>
    <p>y sin duda alguna lo hiciera, y aun saliera con ello, si otros mayores y continuos pensamientos no se lo estorbaran. Tuvo muchas veces competencia con el cura de su lugar -que era hombre docto, graduado en Sigüenza-, sobre cuál había sido mejor caballero:</p>
    
    <h3 id="Palabra_Clave">Palabra Clave</h3>
    <p>Palmerín de Ingalaterra o Amadís de Gaula; mas maese Nicolás, barbero del mesmo pueblo, decía que ninguno llegaba al Caballero del Febo, y que si alguno se le podía comparar, era don Galaor,</p>
    
    <h3 id="Anotaci.C3.B3n_funcional">Anotación funcional</h3>
    <p> hermano de Amadís de Gaula, porque tenía muy acomodada condición para todo; que no era caballero melindroso, ni tan llorón como su hermano, y que en lo de la valentía no le iba en zaga.</p>
    
    <h3 id="Cadena_de_texto">Cadena de texto</h3>
    <p>En resolución, él se enfrascó tanto en su letura, que se le pasaban las noches leyendo de claro en claro, y los días de turbio en turbio; y así, del poco dormir y del mucho leer, se le secó el celebro, de manera que vino a perder el juicio.</p>
    
    <h2 id="Comentarios">Comentarios</h2>
    <p>Llenósele la fantasía de todo aquello que leía en los libros, así de encantamentos como de pendencias, batallas, desafíos, heridas, requiebros, amores, tormentas y disparates imposibles; y asentósele de tal modo en la imaginación que era verdad toda aquella máquina de aquellas sonadas soñadas invenciones que leía, que para él no había otra historia más cierta en el mundo.</p>
    
    <h2 id="Regla_de_reglas_y_Propiedad_de_propiedades">Regla de reglas y Propiedad de propiedades</h2>
    <h3 id="Reglas_.40_.28at_rules.29">Reglas @ (at rules)</h3>
    <p>Decía él que el Cid Ruy Díaz había sido muy buen caballero, pero que no tenía que ver con el Caballero de la Ardiente Espada, que de sólo un revés había partido por medio dos fieros y descomunales gigantes.</p>
    
    <h3 id="Propiedad_de_propiedades">Propiedad de propiedades</h3>
    <p>Mejor estaba con Bernardo del Carpio, porque en Roncesvalles había muerto a Roldán el encantado, valiéndose de la industria de Hércules, cuando ahogó a Anteo, el hijo de la Tierra, entre los brazos. Decía mucho bien del gigante Morgante, porque, con ser de aquella generación gigantea, que todos son soberbios y descomedidos,</p>
    
    <h2 id="Errores_y_sus_consecuencias">Errores y sus consecuencias</h2>
    <p>él solo era afable y bien criado. Pero, sobre todos, estaba bien con Reinaldos de Montalbán, y más cuando le veía salir de su castillo y robar cuantos topaba, y cuando en allende robó aquel ídolo de Mahoma que era todo de oro, según dice su historia.</p>
    <h3 id="Error_en_el_selector">Error en el selector</h3>
    <p>Diera él, por dar una mano de coces al traidor de Galalón, al ama que tenía, y aun a su sobrina de añadidura.<br/>
        En efeto, rematado ya su juicio, vino a dar en el más estraño pensamiento que jamás dio loco en el mundo; y fue que le pareció convenible y necesario, así para el aumento de su honra como para el servicio de su república, hacerse caballero andante.</p>
    <h3 id="Error_en_la_sintaxis_del_comentario_Css">Error en la sintaxis del comentario Css</h3>
    <p>y irse por todo el mundo con sus armas y caballo a buscar las aventuras y a ejercitarse en todo aquello que él había leído que los caballeros andantes se ejercitaban, deshaciendo todo género de agravio,</p>
    <h3 id="Omisi.C3.B3n_de_ciertos_caracteres">Omisión de ciertos caracteres</h3>
    <h4 id="Par.C3.A9ntesis_y_corchetes_rectos">Paréntesis y corchetes rectos</h4>
    <p>y poniéndose en ocasiones y peligros donde, acabándolos, cobrase eterno nombre y fama. Imaginábase el pobre ya coronado por el valor de su brazo, por lo menos, del imperio de Trapisonda; y así, con estos tan agradables pensamientos, llevado del estraño gusto que en ellos sentía, se dio priesa a poner en efeto lo que deseaba. </p>
    <h4 id="Comillas">Comillas</h4>
    <p>Quijotipsum (pronunciado kijotipsum) es un generador de texto basado en El Quijote (el de los molinos) al más puro estilo Lorem Ipsum (texto en una lengua que está algo deprecated). Con Quijotipsum obtendrás dos ventajas: texto entendible por ti, tus compañeros y tu familia y un texto fresco, novedoso y alegre en puro castellano, con tildes para probar la codificación (sí, esas cosas del UTF-8 que tanto gustito dan).</p>
    
    <h2 id="Cajas_y_modelos_de_cajas">Cajas y modelos de cajas</h2>
    <p>Si has disfrutado con Quijotipsum y te apetece invitarnos a un café (o a una magdalena). Pulsa en el botón para realizarnos una donación y motivarnos a hacer cosas frescas y manchegas, como el gazpacho.</p>
    
    <h2 id="Cascada.2C_especificidad_y_herencia">Cascada, especificidad y herencia</h2>
    <p><a class="external text" href="https://escss.blogspot.com/2012/05/css-basico-cascada-especificidad-y.html">Cascada, especifidad y herencia</a>Y lo primero que hizo fue limpiar unas armas que habían sido de sus bisabuelos, que, tomadas de orín y llenas de moho, luengos siglos había que estaban puestas y olvidadas en un rincón. Limpiólas y aderezólas lo mejor que pudo, pero vio que tenían una gran falta, y era que no tenían celada de encaje, sino morrión simple; </p>
    
    <h2 id=".C2.BFcapas_CSS.3F">¿capas CSS?</h2>
    <p>mas a esto suplió su industria, porque de cartones hizo un modo de media celada, que, encajada con el morrión, hacían una apariencia de celada entera. Es verdad que para probar si era fuerte y podía estar al riesgo de una cuchillada, sacó su espada y le dio dos golpes, y con el primero y en un punto deshizo lo que había hecho en una semana;</p>
    
    <h2 id=".C2.BFatributos_Css.3F">¿atributos Css?</h2>
    <p>y no dejó de parecerle mal la facilidad con que la había hecho pedazos, y, por asegurarse deste peligro, la tornó a hacer de nuevo, poniéndole unas barras de hierro por de dentro, de tal manera que él quedó satisfecho de su fortaleza; y, sin querer hacer nueva experiencia della, la diputó y tuvo por celada finísima de encaje.</p>
    <h2 id="Enlaces_Externos">Enlaces Externos</h2>
    <p>Esta obra deriva de varios artículos publicados en el <a href="https://escss.blogspot.com">"Blog EsCss"</a> Trasladados a esta entrada por su editor original y al amparo de la <a href="https://escss.blogspot.com/p/licencias.html">"licencia beerware"</a> bajo la que fueron publicados.</p>      
    </article>    
</body>
</html>