<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <h2>Recopilación de ejemplos de la web</h2>
    <br>
    <details>
      <summary>
        Ejemplos
      </summary>
      <ul>
        <li><a href="/1">Animación con CSS con scroll</a></li>
        <li><a href="/2">Header responsive</a></li>
      </ul>
    </details>
    <details>
      <summary>
        Sliders
      </summary>
      <ul>
        <li><a href="/sliders/1">Photos Slider</a></li>
        <li><a href="/sliders/2">Polaroid Slider</a></li>
        <li><a href="/sliders/3">Cards Suits Slider</a></li>
        <li><a href="/sliders/4">Awesome Infinite Slider</a></li>
        <li><a href="/sliders/6">Swiper Carousel</a></li>
        <li><a href="/sliders/5">My simple Slider</a></li>
      </ul>
    </details>
    <details>
      <summary>
        Details / summary
      </summary>
      <ul>
        <li><a href="/details/1">Index sidevar with details/summary</a></li>
        <li><a href="/details/2">Digital Monopoly Cards</a></li>
        <li><a href="/details/3">Fruits list</a></li>
      </ul>
    </details>
  </body>
</html>
