<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <br>
    <p>Ejemplos</p>
    <a href="/1">Animación con CSS con scroll</a>
    <br>
    <br>
    
    <details>
      <summary><p>Sliders</p></summary>
      <ul>
        <li><a href="/sliders/1">Photos Slider</a></li>
        <li><a href="/sliders/2">Polaroid Slider</a></li>
        <li><a href="/sliders/3">Cards Suits Slider</a></li>
        <li><a href="/sliders/4">Awesome Infinite Slider</a></li>
        <li><a href="/sliders/5">My simple Slider</a></li>
      </ul>
    </details>
    <details>
      <summary><p>Details / summary</p></summary>
      <ul>
        <li><a href="/details/1">Index sidevar with details/summary</a></li>
        <li><a href="/details/2">Digital Monopoly Cards</a></li>
        <li><a href="/details/3">Fruits list</a></li>
      </ul>
    </details>
  </body>
</html>
