<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <a href="/1">Ejemplo 1</a>
    <ul>
      <li><a href="/sliders/1">Photos Slider</a></li>
      <li><a href="/sliders/2">Polaroid Slider</a></li>
      <li><a href="/sliders/3">Cards Suits Slider</a></li>
      <li><a href="/sliders/4">Awesome Infinite Slider</a></li>
      <li><a href="/sliders/5">My simple Slider</a></li>
    </ul>
  </body>
</html>
