<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/s5.css">
</head>
<body>
  <div id="slider-container-outer">
    <div id="slider-container" class="slider-container-transition">
      <div class="slider-item" style="order: 1;background: blue;">
        <img src="/images/slider5/image1.jpg" alt="Imagen 1">
        <figcaption>Gus Fring</figcaption>
      </div>
      <div class="slider-item" style="order: 2;background: red;">
        <img src="/images/slider5/image2.jpg" alt="Imagen 1">
        <figcaption>Robb Stark</figcaption>
      </div>
      <div class="slider-item" style="order: 3;background: yellow;">
        <img src="/images/slider5/image3.jpg" alt="Imagen 1">
        <figcaption>Lagherta Lothbrok</figcaption>
      </div>
      <div class="slider-item" style="order: 4;background: lime;">
        <img src="/images/slider5/image4.jpg" alt="Imagen 1">
        <figcaption>Annie January</figcaption>
      </div>
      <div class="slider-item" style="order: 5;background: orange;">
        <img src="/images/slider5/image5.jpg" alt="Imagen 1">
        <figcaption>Jon Snow</figcaption>
      </div>
      <div class="slider-item" style="order: 6;background: purple;">
        <img src="/images/slider5/image6.jpg" alt="Imagen 1">
        <figcaption>Octavia Blake</figcaption>
      </div>
      <div class="slider-item" style="order: 7;background: brown;">
        <img src="/images/slider5/image7.jpg" alt="Imagen 1">
        <figcaption>Tony Stark</figcaption>
      </div>
      <div class="slider-item" style="order: 8;background: grey;">
        <img src="/images/slider5/image8.jpg" alt="Imagen 1">
        <figcaption>Lucifer Morningstar</figcaption>
      </div>
    </div>
  </div>
  <nav>
    <button id="move-left-button">Mover a la Izquierda</button>
    <button id="move-right-button">Mover a la Derecha</button>
  </nav>
  

  <script>
    const cards = document.querySelectorAll(".slider-item");
    const lbtn = document.querySelector("#move-left-button");
    const rbtn = document.querySelector("#move-right-button");
    const cardsNumber = cards.length;
    console.log(cardsNumber);
    lbtn.addEventListener("click",()=>{
        for (let card of cards) {
            let cardOrder = card.style.order; 
            if(cardOrder == 1){
                card.style.order = cardsNumber
            } else {
                card.style.order = cardOrder - 1
            }
        }
    })
    rbtn.addEventListener("click",()=>{
        for (let card of cards) { 
          let cardOrder = card.style.order; 
            if(cardOrder == cardsNumber){
                card.style.order = 1
            } 
            else {
                card.style.order = parseInt(cardOrder) + 1
            }
        }
        /* card.classList.toggle("slide-right"); */
    })
  </script>
</body>
</html>
